.logout {
    all: unset !important;
    border: solid 3px black !important;
    width: 2rem !important;
    height: 2rem !important;
    border-radius: 100% !important;
    overflow: hidden !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    transition: color 0.2s ease !important;
    cursor: pointer !important;
    color: black !important;
}