.detail-btn {
    background-color: #7a5b46 !important;
    border: none !important;
}

.detail-btn:hover {
    background-color: #654D39 !important;
}

.detail-btn:active {
    background-color: #654D39 !important;
    box-shadow: none !important;
    color: #fff !important;
    outline: none !important;
}

.card-title-ellipsis {
    display: block !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}