.clr-primary {
    color: #7A5B46;
}

.clr-secondary {
    color: #FFD39A;
}

.fs-7 {
    font-size: 0.875rem !important;
}

.mt-6 {
    margin-top: 3.25rem !important;
}

.mt-7 {
    margin-top: 3.5rem !important;
}

.mt-8 {
    margin-top: 3.75rem !important;
}

.mt-21 {
    margin-top: 7rem !important;
}

.section-gap {
    margin-top: 6rem;
}