@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.clr-primary {
    color: #654D39;
}

.fs-7 {
    font-size: 0.875rem !important;
}

.mt-6 {
    margin-top: 3.25rem !important;
}

.mt-7 {
    margin-top: 3.5rem !important;
}

.mt-8 {
    margin-top: 3.75rem !important;
}

.mt-21 {
    margin-top: 7rem !important;
}